body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.Title{
  color: blue;
  text-align: center;
  position: relative;
  margin: 0px auto;
  left: 20px;
  z-index: 1;

}
nav{
  width: 80%;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;
}
.nav-links{
  flex:1;
  text-align:center;
}
.nav-links ul li{
  list-style:none;
  display: inline-block;
  margin: 0 20px
}
.nav-links ul li a{
  color: blue;
  text-decoration:none;
}
.information{
  width:1000px;
  height: 1000px;
  position:absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}
.feature{
  width: 350px;
  color: blue;
  position: relative;
  text-align: center;
  top: 70px;
  left: 80px;
}
#circle{
  z-index: -1;
  width:500px;
  height: 500px;
  position:absolute;
  top: 260px;
  left: 64%;
  border-radius: 50%;
  background:white;
}
.links{
  width: 500px;
  color: blue;
  position: relative;
  text-align: center;
  top: 40px;
  left: 230px;
}
.links ul li{
  list-style: none;
  margin: 20px;
  font-size: 15px;
}
#Lcircle{
    z-index: -1;
    width:1000px;
    height: 1000px;
    position:absolute;
    top: 300px;
    left: 40%;
    border-radius: 50%;
    background:white;
}
